/* X-Large devices (large desktops, 1200px and up) */





@media (min-width: 1200px) {
    /* HTML ETIQUETAS */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size:62.5%; 
    /*1 rem = 10px*/    
}

.body--bgBody {
    background: url(../images/backgroundFoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
}

/* HTML ETIQUETAS END */

/* HEADER NAV RESPONSIVE */

nav {
    background-color:$colorNav;
    color: #000;
    text-decoration: none;
    div {
        ul {
            li {
                a {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.navBarLg {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}



nav div ul li a:hover {
    background-color: $colorH1;

}

/* HEADER NAV RESPONSIVE */

/* SECTION PRINCIPAL INDEX.html */

#sectionPrincipal {
    height: 100vh;
}

.sectionPrincipal__divContainer {
    .sectionPrincipal__divContainer__textContainer__h1Home {
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 8rem;
        color: $colorH1 ;
        }
    .sectionPrincipal__divContainer__textContainer__h3Home {
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        }
    .sectionPrincipal__divArrowContainer {
        height: 15rem;
        }
    }
    .sectionPrincipal__divArrowContainer:hover {
        transform: scale(1.1);
        transition: all 1s;
        }
/* SECTION PRINCIPAL INDEX.html END */

/* SECTION EMPRESA INDEX.html */

.sectionEmpresa {
    height: 100vh;
    background-color:$colorBg;
}
.sectionEmpresa__divContainer {
    .sectionEmpresa__divContainer__titleEmpresaContainer{
        .sectionEmpresa__divContainer__titleEmpresaContainer__titleEmpresaText {
            font-size: 5rem;
            font-weight: 500;
            color: #000;
            margin-bottom: 20rem;
            }
    }
    .sectionEmpresa__divContainer__textContainer {
        .sectionEmpresa__divContainer__textpClass {
            color: #000;
            line-height: 5rem;
            font-size: 3rem;
        }
    }
}


/* SECTION EMPRESA INDEX.html END */

/* SECTION PRINCIPAL NOSOTROS.html */

#sectionPrincipalNosotros {
    height: 100vh;
}

.h1Home {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    color: $colorH1 ;
}

.h3Home {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.pNosotros {
    color: #000;
    line-height: 5rem;
    font-size: 3rem;
}

.titles {
    font-size: 5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 20rem;
}

.arrowContainer:hover {
    transform: scale(1.1);
    transition: all 1s;
}
/* SECTION PRINCIPAL NOSOTROS.html END */

/* SECTION STAFF NOSOTROS.html START*/

.sectionStaff {
    height: 100vh;
    background-color: $colorStaff;
}

.titleStaff {
    font-size: 5rem;
    font-weight: 500;
    color: #000;
}




/* SECTION STAFF NOSOTROS.html END */

/* SECTION PORTAFOLIO.html START */

.cardsContainer {
    display: flex;
    height: 150vh;
}

.cards__cardsContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: $colorStaff;
}
.cards__cardsContainer__almeida-card {
    margin-left: 20rem;
    margin-right: 20rem;
}

.cards__cardsContainer__sofia-card {
    margin-left: 20rem;
    margin-right: 20rem;
}

.cards__cardsContainer__tiziano-card {
    margin-left: 20rem;
    margin-right: 20rem;
}
.cards__cardsContainer__benjamin-card {
    margin-left: 20rem;
    margin-right: 20rem;
}


.almeidaImgContainerDesktop {
    margin-left: 5rem;
    margin-right: 5rem;
}

.benjaminImgContainerDesktop {
    margin-left: 5rem;
    margin-right: 5rem;
}

.tizianoImgContainerDesktop {
    margin-left: 5rem;
    margin-right: 5rem;
}

.sofiaImgContainerDesktop {
    margin-left: 5rem;
    margin-right: 5rem;
}
/* SECTION PORTAFOLIO.html END */

/*SECTION Servicios.html START */

.h3ServiciosArrow {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}



/*SECTION Servicios.html END */



/*SECTION Contacto.html START */

.sectionContact {
    height: 100vh;
}

.h1Contact {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    color: $colorH1 ;
}

.divMainContainerContact {
    background-color: $colorStaff;
    height: 50rem;
    width: 130rem;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
    margin-top: 10rem;
    border: 1rem solid $colorNav;
}

.control {
    padding: 1rem;
    border: 2px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.send {
    width: 100%;
    background-color: $colorBg;
    border: 2px solid $colorH1;
    margin-top: 3rem;
    font-size: 2.5rem;
}

textarea {
    height: 15rem;
    max-width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid black;
}



/*SECTION Contacto.html END */

/* FOOTER */

.iFooter {
    font-size: 2rem;
    color:$colorBg ;
}

.copyClass {
    font-size: 2rem;
}

.iFooter:hover {
    transform: scale(1.5);
    transition: all 1s;
}

}
